<section id="tasks">
    <header>
        <h2>{{ username() }}'s Tasks</h2>
        <menu>
            <button (click)="showTaskForm()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track $index) {
        <li>
            <app-indivtask [task]="task"></app-indivtask>
        </li>
        }
    </ul>
</section>

@if (taskFormToShow) {
<app-taskform (cancel)="isTaskAddingCancelled()" (newTask)="addTask($event)" [userId]="userId()"></app-taskform>
}
